body {
    margin: 0;
    text-align: center;

}
.top {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.logo {
    width: 60px;
    height: 60px;
    left: 8px;
    top: 4px;
    cursor: pointer;
}

.in {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
}

.anchors {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.anchors > li {
    margin-left: 4px;
}

.anchors > li > button {
    cursor: pointer;
}

.main {
    height: 100vh;
    width: 100vw;
    padding: 8px 0px;
    margin-left: 200px;
    margin: 0px;
}

.tab {
    padding: 8px 0px;
}

.genreBtn {
    display: none;
    margin: 0;
    padding: 0;
}
.newBtn {
    display: none;
    margin: 0;
    padding: 0;
}

#selectCompany,
#selectOptions {
    visibility: visible;
}
.searchTxt,
.searchBtn {
    visibility: visible;
}

.list {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    justify-content: space-between;
}

.song-info {
    display: flex;
    padding: 2px 0px;
    margin: 2px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.num {
    font-weight: bold;
    background-color: lightgray;
    border-radius: 20px;
    padding: 2px;
}

.title {
    font-size: small;
    margin-left: 8px;
}

.singer {
    font-weight: bold;
    font-size: smaller;
    margin-left: 8px;
}

.marker {
    margin-right: 16px;
}


.list-divider {
    display: inline-block;
    border-bottom: 1px solid black;
    margin: 6px 0px;
}

.log-in,
.sign-in {
    padding: 8px 0px;
}

.welcome {
    display: block;
    margin-bottom: 4px;
}

.username {
    position: relative;
    left: -18px;
    
}

.pass {
    position: relative;
    left: 4px;
}

.submit {
    margin-top: 4px;
}

.acception {
    display: none;

}

.marker-button,
.delete-button {
    border-style: none;
    font-size: 25px;
}

.marker-button:hover,
.delete-button:hover {
    cursor: pointer;
}

.waiting {
    display: none;
    height: 30px;
    width: 30px;
}